.control:nth-of-type(even) .name {
    text-align: right;
    margin-right: 26px;
}

.button {
    width: 78px;
    height: 46px;
    opacity: 0;
}

.button:active {
    transition: opacity 0.3s;
    opacity: 0.3;
}

.control:nth-of-type(even) {
    flex-direction: row-reverse;
}

.control {
    display: flex;
}

.control:nth-of-type(odd) .name {
    margin-left: 18px;
    text-align: left;
}

p.name {
    display: inline-block;
    height: 100%;
    width: 70%;
    font-size: 2rem;
    color: lime;
    display: grid;
    align-items: center;
}

.buttons {
    display: grid;
    gap: 2px;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    bottom: 2px;
    left: -76px;
    width: 133%;
}