.text {
    width: 100%;
    text-align: center;
    padding-top: 2rem;
}

::deep form {
    display: grid;
}

::deep .value-input {
    display: inline-block;
    text-align: center;
    width: 30%;
    height: 2rem;
    font-size: 2rem;
    justify-self: center;
    margin-top: 1rem;
}